In [2]:
import pandas as pd
import numpy as np
import os

DATA_DIR = '/Users/onkiwong/Documents/GitHub/BIOF3001_Group_project/seqFISH_data/seqFISH_cell_loc/sourcedata'
ANNOT_DIR = '/Users/onkiwong/Documents/GitHub/BIOF3001_Group_project/seqFISH_data/seqFISH_cell_loc/celltype_annotations'
# Load the data

svz_cellcentroids = pd.read_csv(DATA_DIR + '/cortex_svz_cellcentroids.csv', header=0)
svz_counts = pd.read_csv(DATA_DIR + '/cortex_svz_counts.csv', header=0)
cell_annot = pd.read_csv(ANNOT_DIR + '/cortex_svz_cell_type_annotations.csv', header=0)

In [3]:
svz_cellcentroids.head()

   Field of View  Cell ID        X       Y  Region
0              0        1  1305.70  414.98  Cortex
1              0        2   669.51  457.53  Cortex
2              0        3  1185.90  507.11  Cortex
3              0        4   710.24  533.06  Cortex
4              0        5   763.87  569.15  Cortex

In [5]:
svz_counts.shape

(913, 10000)

In [6]:
cell_annot.shape

(913, 2)

In [7]:
svz_cellcentroids['louvain'] = cell_annot['louvain']

In [8]:
svz_cellcentroids.head()

   Field of View  Cell ID        X       Y  Region  louvain
0              0        1  1305.70  414.98  Cortex       13
1              0        2   669.51  457.53  Cortex        3
2              0        3  1185.90  507.11  Cortex        3
3              0        4   710.24  533.06  Cortex        7
4              0        5   763.87  569.15  Cortex        6

In [9]:
cell_type_mapping = {
    1: 'Choroid plexux',
    3: 'Excitatory neuron',
    4: 'Excitatory neuron',
    5: 'Excitatory neuron',
    6: 'Excitatory neuron',
    9: 'Excitatory neuron',
    11: 'Excitatory neuron',
    13: 'Excitatory neuron',
    18: 'Excitatory neuron',
    7: 'Interneuron',
    23: 'Interneuron',
    8: 'Neural Stem',
    14: 'Neural Stem',
    15: 'Neural Progenitors',
    24: 'Neural Progenitors',
    12: 'Neuroblasts',
    17: 'Neuroblasts',
    21: 'Neuroblasts',
    2: 'Endothelial',
    10: 'Astrocytes',
    19: 'Astrocytes',
    16: 'Oligodendrocytes',
    20: 'Microglia',
    22: 'Ependymal',
    25: 'Oligo Precursor',
    26: 'Unannotated'
}

svz_cellcentroids['celltype'] = svz_cellcentroids['louvain'].map(cell_type_mapping)

In [10]:
svz_cellcentroids.head()

   Field of View  Cell ID        X       Y  Region  louvain           celltype
0              0        1  1305.70  414.98  Cortex       13  Excitatory neuron
1              0        2   669.51  457.53  Cortex        3  Excitatory neuron
2              0        3  1185.90  507.11  Cortex        3  Excitatory neuron
3              0        4   710.24  533.06  Cortex        7        Interneuron
4              0        5   763.87  569.15  Cortex        6  Excitatory neuron

In [13]:
svz_cellcentroids["cellname"] = svz_cellcentroids["Field of View"].astype(str) + "_" + svz_cellcentroids["Cell ID"].astype(str)

In [14]:
svz_cellcentroids.head()

,Field of View,Cell ID,X,Y,Region,louvain,celltype,cellname
0,0,1,1305.70,414.98,Cortex,13,Excitatory neuron,0_1
1,0,2,669.51,457.53,Cortex,3,Excitatory neuron,0_2
2,0,3,1185.90,507.11,Cortex,3,Excitatory neuron,0_3
3,0,4,710.24,533.06,Cortex,7,Interneuron,0_4
4,0,5,763.87,569.15,Cortex,6,Excitatory neuron,0_5

In [11]:
with open(DATA_DIR + '/groundtruth_labels.txt', 'w') as f:
    for i in svz_cellcentroids['celltype']:
        f.write(i + '\n')

In [12]:
svz_counts.head()

,1700022a21rik,1700025g04rik,4933401b06rik,5830417i10rik,9330102e08rik,9430018g01rik,9430083a17rik,Aanat,Aasdh,Aatf,...,Tyrp1,Ubqlnl,Ptgdr,P2ry4,Prdm6,Pde6b,Zp1,Dlx4,Opn1sw,Pramef12
0,3,1,2,0,1,1,1,0,2,0,...,0,0,1,0,0,0,0,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,1,1,0,1,1,0,0,0,0,0
2,0,0,1,1,0,0,0,0,0,0,...,2,2,1,1,0,0,1,0,1,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,1,1,0,3,0,...,1,0,0,1,0,0,0,1,0,0

In [15]:
svz_gene_exp = svz_counts
svz_gene_exp.index = svz_cellcentroids['cellname']

In [16]:
svz_gene_exp.head()

,1700022a21rik,1700025g04rik,4933401b06rik,5830417i10rik,9330102e08rik,9430018g01rik,9430083a17rik,Aanat,Aasdh,Aatf,...,Tyrp1,Ubqlnl,Ptgdr,P2ry4,Prdm6,Pde6b,Zp1,Dlx4,Opn1sw,Pramef12
cellname,,,,,,,,,,,,,,,,,,,,,
0_1,3,1,2,0,1,1,1,0,2,0,...,0,0,1,0,0,0,0,0,0,1
0_2,1,0,0,0,0,0,0,0,0,0,...,1,1,0,1,1,0,0,0,0,0
0_3,0,0,1,1,0,0,0,0,0,0,...,2,2,1,1,0,0,1,0,1,0
0_4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
0_5,0,0,0,1,0,1,1,0,3,0,...,1,0,0,1,0,0,0,1,0,0

In [19]:
svz_gene_exp.to_csv(DATA_DIR + '/svz_gene_expression_10000_genes.csv')