In [1]:
import scanpy as sc
import pandas as pd
import numpy as np
import os
import sys

In [21]:
# GSM7090362

DATA_DIR = '/Users/onkiwong/Documents/GitHub/BIOF3001_Group_project/human_data/GSM7090362'
barcode = os.path.join(DATA_DIR, 'GSM7090362_SpPat09_Unaffected_barcodes.tsv.gz')
feature = os.path.join(DATA_DIR, 'GSM7090362_SpPat09_Unaffected_features.tsv.gz')
mtx = os.path.join(DATA_DIR, 'GSM7090362_SpPat09_Unaffected_matrix.mtx.gz')

adata = sc.read_mtx(mtx).T
barcode_df = pd.read_table(barcode, delimiter='\t', header=None)
feature_df = pd.read_table(feature, delimiter='\t', header=None)

In [22]:
barcode_df.head()

                    0
0  AAACGAGACGGTTGAT-1
1  AAAGGGATGTAGCAAG-1
2  AAATGGTCAATGTGCC-1
3  AACAACTGGTAGTTGC-1
4  AACAATTACTCTACGC-1

In [23]:
feature_df.head()

                 0            1                2
0  ENSG00000243485  MIR1302-2HG  Gene Expression
1  ENSG00000237613      FAM138A  Gene Expression
2  ENSG00000186092        OR4F5  Gene Expression
3  ENSG00000238009   AL627309.1  Gene Expression
4  ENSG00000239945   AL627309.3  Gene Expression

In [26]:
genes = feature_df[1].values
genes

array(['MIR1302-2HG', 'FAM138A', 'OR4F5', ..., 'AC007325.1', 'AC007325.4',
       'AC007325.2'], dtype=object)

In [27]:
# write csv: row = cells, col = genes
adata.obs.index = barcode_df[0]
adata.var.index = genes

In [28]:
adata.to_df().head()

,MIR1302-2HG,FAM138A,OR4F5,AL627309.1,AL627309.3,AL627309.2,AL627309.5,AL627309.4,AP006222.2,AL732372.1,...,AC133551.1,AC136612.1,AC136616.1,AC136616.3,AC136616.2,AC141272.1,AC023491.2,AC007325.1,AC007325.4,AC007325.2
0,,,,,,,,,,,,,,,,,,,,,
AAACGAGACGGTTGAT-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAAGGGATGTAGCAAG-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAATGGTCAATGTGCC-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AACAACTGGTAGTTGC-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AACAATTACTCTACGC-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
adata.to_df().to_csv(os.path.join(DATA_DIR, 'GSM7090362_SpPat09_Unaffected.csv'))

In [30]:
adata.to_df().shape

(542, 36601)

In [35]:
def stRNA_extract(DATA_DIR, barcode_file, feature_file, matrix_file, output_file):
    # Read barcode, feature, and matrix files
    adata = sc.read_mtx(matrix_file).T
    barcode_df = pd.read_table(barcode_file, delimiter='\t', header=None)
    feature_df = pd.read_table(feature_file, delimiter='\t', header=None)

    # Extract gene names
    genes = feature_df[1].values

    # Set index for observations and variables
    adata.obs.index = barcode_df[0]
    adata.var.index = genes

    # Convert AnnData object to DataFrame and save to CSV
    adata_df = adata.to_df()
    output_path = os.path.join(DATA_DIR, output_file)
    adata_df.to_csv(output_path)

    print(adata_df.shape)

    return adata_df

In [37]:
# GSM7090365

DATA_DIR = '/Users/onkiwong/Documents/GitHub/BIOF3001_Group_project/human_data/GSM7090365'
barcode = os.path.join(DATA_DIR, 'GSM7090365_SpPat10_Unaffected_barcodes.tsv.gz')
feature = os.path.join(DATA_DIR, 'GSM7090365_SpPat10_Unaffected_features.tsv.gz')
mtx = os.path.join(DATA_DIR, 'GSM7090365_SpPat10_Unaffected_matrix.mtx.gz')
output_file = 'GSM7090365_SpPat10_Unaffected.csv'

GSM7090365_df = stRNA_extract(DATA_DIR, barcode, feature, mtx, output_file)

(1427, 36601)

NameError: name 'processed_data' is not defined

In [38]:
# GSM7090368

DATA_DIR = '/Users/onkiwong/Documents/GitHub/BIOF3001_Group_project/human_data/GSM7090368'
barcode = os.path.join(DATA_DIR, 'GSM7090368_SpPat15_Unaffected_barcodes.tsv.gz')
feature = os.path.join(DATA_DIR, 'GSM7090368_SpPat15_Unaffected_features.tsv.gz')
mtx = os.path.join(DATA_DIR, 'GSM7090368_SpPat15_Unaffected_matrix.mtx.gz')
output_file = 'GSM7090368_SpPat15_Unaffected.csv'

GSM7090368_df = stRNA_extract(DATA_DIR, barcode, feature, mtx, output_file)

(962, 36601)